:root {
    --white: #F1F8E9;
    --darkGreen: #2ECC71;
    --green: #58D68D;
    --darkBlue: #1C2833;
    --greyBlue: #2d3b48;
}

body {
    font-family: "Roboto";
    margin: 0;
    box-sizing: border-box;
    background-color: var(--darkBlue);
    padding: 0;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#table {
    text-align: center;
    width: 400px;
    border-left: 6px solid #2d3b48;
    box-shadow: 0px 5px 10px black
    


}